/*encabezado*/
* {
    margin: 0;
    padding: 0;
}



.logo {
    height: 80px;
    width: 160px;
}

.container {
    display: flex;
    align-items: center;
    padding-left: 40px;
}



ul {
    display: flex;
    list-style-type: none;
    padding: 30px;
    flex: 2;
}

li {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.ingresar {
    color: #ffff;
    background-color: #272329;
    height: 50px;
    margin: 10px;
    width: 100px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    flex: 1;
}

.btn {
    display: flex;
    justify-content: center;
    flex-flow: column;
    border: none;
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: #ffff;
}

button{
    cursor: pointer;
}

.icon {
    height: 60px;
    width: 60px;
}
.perfil {
    height: 40px;
    width: 30px;
}

.cupon {
    height: 40px;
    width: 40px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f1f1f1;
    height: 20px;
    flex: 3;
}

/*body*/

#container {
    background-color: #272329;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.texto {
    color: #FFFF;
    cursor: pointer;
}

.pollo {  
    width: 100%;
}

.menubtn {
    background-color: #e5002b;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 120px;
    color: #FFFF;
}

.center {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/*Menú*/
#container-menu {
    padding-left: 80px;
    padding-right: 80px;
}

#container-prodructos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.food {
    margin: 10px;
    border-radius: 15px;
    height: 250px;
    width: 200px;
    box-shadow: 0px 1px 1px  black;
    font-size: 10px;
    cursor: pointer;
}
.food:hover {
    zoom: 1.01;
}

.foto {
    border-radius: 5px;
    height: 200px;
    width: 100%; 
    margin-bottom: 10px;
}

.text2{
    margin-bottom: 40px;
}